
//spacing

$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$s_size: 1.2rem;

$green: #41b3a3;
$orangish-brown: #e8a87c;
$cool-red: #e27d60;

$cool-orange: rgb(252, 170, 20);

$discord-black: #23272a;
$discord-grey: #99aab5;
$discord-purple: #7289da;

$js-color: #f0db4f;